body {
  color: black;
  background-color: lightblue;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

#month-instance-wrapper {
  background-color: white;
  width: 80%;
  margin: 0 auto;
}

#month-table-wrapper {
  padding: 30px;
}

table {
  height: 700px;
  width: 80%;
  margin: 0 auto;
}

.day-in-week {
  vertical-align: bottom;
  text-align: right;
  height: 5px;
  padding-right: 3px;
}

th {
  text-align: center;
}

td {
  vertical-align:bottom;
}

.year {
  text-align: right;
  opacity: 0.5;
  font-size: 32px;
}

#year-container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 500px;
  background-color: white;
}

#year-wrapper {
  padding: 30px;
}

ul {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

ul li {
  display: inline-block;
  border: 1px solid black;
  padding: 55px;
  border-radius: 5px;
}

#day-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 500px;
  background-color: white;
}

#day-wrapper {
  padding: 30px;
}

.thumbnail-img {
  height: 150px;
  width: 150px;
  border-radius: 5px;
}

.img-event-title {
  text-align: center;
}

.test-img {
  width: 100px;
  height: 100px;
}

.test-li {
  border: none;
}

#a-container {
  display: none;
}