body {
  color: black;
  background-color: rgb(74, 173, 255);
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

.month-name {
  text-align: center;
}

#month-wrapper {
  width: 80%;
  margin: 0 auto;
}

.day-of-week {
  text-align: right;
  vertical-align: bottom;
}

.num-in-month {
  padding-bottom: 50px;
  padding-left: 0px;
  border-right: 1px solid black;
  color: pink;
}

.num-row {
  margin-right: 0px;
  margin-left: 0px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

#container-wrapper {
  width: 80%;
  border: 1px solid black;
  margin: 0 auto;
}

#year {
  text-align: right;
  font-size: 50px;
  opacity: 0.4;
  z-index: -2;
}

#year-wrapper {
  width: 80%;
  border: 1px solid black;
  margin: 0 auto;
  margin-bottom: 500px;
}

ul {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

ul li {
  display: inline-block;
  border: 1px solid black;
  padding: 55px;
}